name: Automated Testing
on:
    push:
        branches: testing
jobs:
    LinuxTests:
      name: linuxtests
      runs-on: thelinuxnative
      container:
        image: docker.io/markmac99/rmstestcont:latest
        env:
          MYENV: foo
        ports:
          - 22
          - 443
        volumes:
          - /data3/testing/RMS_data:/data/testing
      strategy:
        matrix:
          python-version: ["3.7"] #, "3.8", "3.9", "3.10", "3.11"]
      steps:
        - uses: actions/checkout@v4
        - name: Set up Python ${{ matrix.python-version }}
          uses: actions/setup-python@v5
          with:
            python-version: ${{ matrix.python-version }}
        - name: run tests
          run: |
              RMSDIR=$(pwd)
              DATADIR=/data/testing
              apt install python3-dev
              pip install -r requirements.txt
              pip install opencv-python
              ./Tests/testFRbin.sh $RMSDIR $DATADIR
