name: Automated Testing
on:
    push:
        branches: testing
jobs:
    LinuxTests:
      name: linuxtests
      runs-on: thelinuxnative
      container:
        image: docker.io/markmac99/rmstestcont:latest
        env:
          MYENV: foo
        ports:
          - 22
          - 443
        volumes:
          - /data3/testing/RMS_data:/data/testing
      strategy:
        matrix:
          python-version: ["3.7"] #, "3.8", "3.9", "3.10", "3.11"]
      steps:
        - uses: actions/checkout@v4
        - name: run tests
          run: |
              RMSDIR=$(pwd)
              DATADIR=/data/testing
              python -V 
              pip install -r requirements.txt
              pip install opencv-python
              ./Tests/testFRbin.sh $RMSDIR $DATADIR
              ./Tests/testGenMP4s.sh $RMSDIR $DATADIR
    PiTests:
      name: pitests
      runs-on: testpi4
      strategy:
        matrix:
          python-version: ["3.7"] #, "3.8", "3.9", "3.10", "3.11"]
      steps:
        - uses: actions/checkout@v3 # cant upgrade as node20 not supported on buster
        - name: run tests
          run: |
              RMSDIR=$(pwd)
              DATADIR=/data/testing
              rsync -avz thelinux:/data3/testing/RMS_data/ $DATADIR
              source ~/vRMS/bin/activate
              python -V 
              pip install -r requirements.txt
              ./Tests/testFRbin.sh $RMSDIR $DATADIR
              ./Tests/testGenMP4s.sh $RMSDIR $DATADIR
